.header {
  background-color: yellowgreen;
}

@media (min-width:320px) {
  .header__title {
    font-size: 16px;
  }
}

@media (min-width:481px) {
  .header__title {
    font-size: 24px;
  }
}
@media (min-width:641px) {
  .header__title {
    font-size: 32px;
  }
}
@media (min-width:961px) {
  .header__title {
    font-size: 36px;
  }
}
@media (min-width:1025px) {
  .header__title {
    font-size: 38px;
  }
}
@media (min-width:1281px) {
  .header__title {
    font-size: 44px;
  }
}